<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet")
        link(rel="stylesheet", href="../css/style.css")
        script(src="../js/main.js")
    body
        button.login Log in
        div.container
            form(action="")
            img(src="", alt="")
            h1 Sign up to see more
            h2 Access Pinterest's best ideas with a free account
            input#email(type="email", placeholder="Email", name="email")
            br
            input#password(type="password", placeholder="Create a password", name="password")
            br
            input#number(type="number", placeholder="Age" name="age")
            br
            button#signup-button(type="submit") Continue
            p OR
            button(type="submit") Continue with Facebook
            br
            button(type="submit") Continue with Google
            p By continuing, you agree to Pinterest's 
                a(href="#") Terms of Service, 
                a(href="#") Privacy Policy
            a(href="#") Already a member? Log in
            br
            button(type="submit") Create a business account
